<!-- Command Palette Modal -->
<div class="cmd-palette-overlay" id="cmdPalette">
  <div class="cmd-palette">
    <input type="text" class="cmd-palette-input" id="cmdPaletteInput" placeholder="Search pages, modules, exercises..." autofocus>
    <div class="cmd-palette-results" id="cmdPaletteResults"></div>
  </div>
</div>
